Repository hkevin01/grant-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @core-team, @data-team, @ui-team, @qa-team, @docs-team, @devops-team, @security-team

feat(grant): Add extend_existing=True to GrantORM to resolve table conflict
  COMPLETE_FIXES_SUMMARY.md
  ENHANCEMENTS_SUMMARY.md
  ENHANCEMENT_SUMMARY.md
  README.md
  demo_enhanced_scraping.py
  docs/current_status.md
  docs/next_phase_roadmap.md
  docs/past_grants_implementation_summary.md
  docs/past_grants_tab_guide.md
  docs/project_plan.md
  emergency_fix_vscode.py
  launch_enhanced_gui.py
  reports/performance_analysis.json
  run.sh
  scripts/analyze_performance.py
  setup_ai.py
  src/grant_ai/gui/qt_app.py
  src/grant_ai/models/grant.py
  urgent_vscode_fix.py
Owners: @docs-team, @project-maintainer, @data-team, @devops-team, @ui-team, @core-team

Add enhanced past grant and predictive grant models with validation script
  AGENT_INTEGRATION_SUMMARY.md
  ALL_ISSUES_RESOLVED.md
  INTEGRATION_COMPLETE.md
  ISSUE_RESOLVED.md
  run.sh
  scripts/create_sample_data.py
  src/grant_ai/gui/enhanced_past_grants_tab.py
  src/grant_ai/gui/predictive_grants_tab.py
  src/grant_ai/gui/qt_app.py
  src/grant_ai/models/enhanced_past_grant.py
  src/grant_ai/models/predictive_grant.py
  validate_integration.py
Owners: @docs-team, @devops-team, @ui-team, @core-team, @project-maintainer

feat: Complete integration of Predictive Grants and Enhanced Past Grants tabs
  SCRAPER_ENHANCEMENT_SUMMARY.md
  direct_test.py
  docs/CHANGELOG.md
  docs/CLEANUP_SUMMARY.md
  docs/DIRECTORY_STRUCTURE.md
  docs/NEXT_STEPS.md
  docs/fixes/ATTRIBUTEERROR_FIX.md
  docs/fixes/COMPLETE_FIXES_SUMMARY.md
  docs/fixes/DIALOG_ATTRIBUTEERROR_FIX.md
  docs/fixes/ENHANCEMENTS_SUMMARY.md
  docs/fixes/ENHANCEMENT_SUMMARY.md
  docs/project/AGENT_INTEGRATION_SUMMARY.md
  docs/project/ALL_ISSUES_RESOLVED.md
  docs/project/INTEGRATION_COMPLETE.md
  docs/project/ISSUE_RESOLVED.md
  docs/project_plan.md
  docs/project_progress.md
  run.sh
  scripts/setup/setup_ai.py
  scripts/testing/validate_integration.py
  scripts/utils/demo_enhanced_scraping.py
  scripts/utils/emergency_fix_vscode.py
  scripts/utils/launch_enhanced_gui.py
  scripts/utils/setup_ai.py
  scripts/utils/urgent_vscode_fix.py
  simple_test.py
  src/grant_ai/gui/enhanced_past_grants_tab.py
  src/grant_ai/scrapers/wv_grants.py
Owners: @docs-team, @project-maintainer, @devops-team, @ui-team, @data-team

feat: Implement comprehensive grant scraper validation and real source information retrieval
  FAKE_GRANT_ELIMINATION_SUMMARY.md
  run.sh
  src/grant_ai/gui/enhanced_past_grants_tab.py
  src/grant_ai/gui/icon_manager.py
  src/grant_ai/gui/qt_app.py
  src/grant_ai/scrapers/wv_grants.py
Owners: @docs-team, @devops-team, @ui-team, @data-team

Add comprehensive documentation and enhancements for grant scraper and icon loading
  README.md
  docs/NEXT_STEPS_ROADMAP.md
  docs/fixes/AGENT_INTEGRATION_SUMMARY.md
  docs/fixes/ALL_ISSUES_RESOLVED.md
  docs/fixes/FAKE_GRANT_ELIMINATION_SUMMARY.md
  docs/fixes/ICON_LOADING_FIXES_COMPLETE.md
  docs/fixes/ICON_LOADING_FIX_SUMMARY.md
  docs/fixes/INTEGRATION_COMPLETE.md
  docs/fixes/ISSUE_RESOLVED.md
  docs/fixes/SCRAPER_ENHANCEMENT_SUMMARY.md
  run.sh
  scripts/demos/demo_enhanced_scraping.py
  scripts/temp/direct_test.py
  scripts/temp/emergency_fix_vscode.py
  scripts/temp/launch_enhanced_gui.py
  scripts/temp/setup_ai.py
  scripts/temp/simple_test.py
  scripts/temp/urgent_vscode_fix.py
  scripts/temp/validate_integration.py
  src/grant_ai/services/robust_scraper.py
Owners: @docs-team, @devops-team, @core-team

Refactor project structure and enhance documentation
  docs/COMPLETE_FIXES_SUMMARY.md
  docs/ENHANCEMENTS_SUMMARY.md
  docs/ENHANCEMENT_SUMMARY.md
  docs/fixes/CLEANUP_SUMMARY.md
  docs/fixes/COMPLETE_FIXES_SUMMARY.md
  docs/fixes/ENHANCEMENTS_SUMMARY.md
  docs/fixes/ENHANCEMENT_SUMMARY.md
  docs/fixes/GUI_CRASH_FIXES.md
Owners: @docs-team

Implement Simple Advanced Grant Discovery and AI Proposal Classifier
  .copilot/settings.json
  FAKE_GRANT_ELIMINATION_SUMMARY.md
  README.md
  SCRAPER_ENHANCEMENT_SUMMARY.md
  direct_test.py
  docs/ADVANCED_GRANT_DISCOVERY_COMPLETE.md
  docs/CLEANUP_SUMMARY.md
  docs/GRANT_PLATFORM_INTEGRATION.md
  docs/PLATFORM_INTEGRATION_STRATEGY.md
  docs/PLATFORM_INTEGRATION_SUMMARY.md
  docs/PROJECT_COMPLETE_STATUS.md
  docs/fixes/CICD_BADGE_FIX.md
  docs/fixes/README_BADGE_FIXES.md
  docs/images/README.md
  run.sh
  scripts/capture_screenshots.sh
  simple_test.py
  src/grant_ai/gui/predictive_grants_tab.py
  src/grant_ai/gui/qt_app.py
  src/grant_ai/integrations/__init__.py
  src/grant_ai/integrations/open_grants.py
  src/grant_ai/integrations/simple_open_grants.py
  src/grant_ai/models/grant.py
  src/grant_ai/scrapers/advanced_discovery.py
  src/grant_ai/scrapers/simple_advanced_discovery.py
  src/grant_ai/scrapers/wv_grants.py
  src/grant_ai/services/ai_proposal_classifier.py
  src/grant_ai/services/community_signal_integration.py
Owners: @project-maintainer, @docs-team, @devops-team, @ui-team, @core-team, @data-team

feat: Implement foundation database setup and management
  .gitignore
  data/foundations/benedum_foundation.json
  data/foundations/gates_foundation.json
  data/foundations/index.json
  data/foundations/nsf.json
  data/foundations/united_way_cwv.json
  data/foundations/wv_community_foundation.json
  data/grants.db
  data/grants/historical/coda_grants.json
  demo_foundation_database.py
  foundation_implementation_summary.py
  run.sh
  setup_foundation_database.py
  src/grant_ai/core/cli.py
  src/grant_ai/core/db.py
  src/grant_ai/models/__init__.py
  src/grant_ai/models/foundation.py
  src/grant_ai/services/foundation_service.py
Owners: @project-maintainer, @data-team, @devops-team, @core-team

feat: Add comprehensive GUI test report and runner for validation of all components
  GUI_TESTING_COMPLETE.md
  GUI_TEST_REPORT.md
  run_gui_tests.py
Owners: @docs-team, @project-maintainer

feat: Modernize project structure and configuration
  .env.example
  .prettierrc.json
  PROJECT_MODERNIZATION_STATUS.md
  archive/demo_scripts/demo_foundation_database.py
  archive/old_tests/direct_test.py
  archive/old_tests/simple_test.py
  pyproject_modern.toml
Owners: @project-maintainer, @docs-team

Force commit: all files, ignore errors and warnings
  .github/workflows/ci-cd.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  PROJECT_CLEANUP_STATUS.md
  docs/AI_GRANT_PLATFORMS_INTEGRATION.md
  docs/AI_PLATFORMS_STATUS.md
  docs/HOW_TO_ACCESS_MORE_GRANTS.md
  docs/PLATFORM_INTEGRATION_USAGE.md
  docs/WV_GRANT_SCRAPER_FIXES.md
  docs/accessibility_checklist.md
  docs/analytics_reporting_checklist.md
  docs/api_integration_checklist.md
  docs/documentation_tutorial_checklist.md
  docs/feedback_community_checklist.md
  docs/mobile_responsive_checklist.md
  docs/project_plan.md
  docs/security_compliance_checklist.md
  docs/test_plan.md
  quick_test_scraper.py
  quick_url_test.py
  src/grant_ai/analysis/grant_researcher.py
  src/grant_ai/integrations/__init__.py
  src/grant_ai/integrations/community_force.py
  src/grant_ai/integrations/grant_assistant.py
  src/grant_ai/integrations/granter_ai.py
  src/grant_ai/integrations/instrumentl.py
  src/grant_ai/models/grant.py
  src/grant_ai/scrapers/base.py
  src/grant_ai/scrapers/cli.py
  src/grant_ai/scrapers/wv_grants.py
  tests/simple_pytest.py
  tests/simple_test.py
  validate_scraper.py
Owners: @project-maintainer, @docs-team, @data-team, @core-team, @qa-team

Force commit: fix all commit issues, ignore errors and warnings
  src/grant_ai/accessibility/audit.py
  src/grant_ai/analytics/roi.py
  src/grant_ai/analytics/timeline.py
  src/grant_ai/api/__init__.py
  src/grant_ai/api/auth.py
  src/grant_ai/api/endpoints.py
  src/grant_ai/api/integration.py
  src/grant_ai/api/main.py
  src/grant_ai/api/tests.py
  src/grant_ai/community/feedback.py
  src/grant_ai/docs/tutorials.py
  src/grant_ai/i18n/localization.py
  src/grant_ai/mobile/web.py
  src/grant_ai/security/compliance.py
  src/grant_ai/testing/coverage.py
Owners: @project-maintainer

Add Phase 6 configuration files and documentation
  .env.example
  .pre-commit-config.yaml
  docs/PHASE6_CONFIG_GUIDE.md
  docs/PHASE6_NEXT_FEATURES.md
  docs/PHASE6_PROGRESS.md
  docs/project_plan.md
  docs/test_plan.md
  src/grant_ai/ai/recommendation.py
  src/grant_ai/analytics/dashboard.py
  src/grant_ai/api/auth.py
  src/grant_ai/api/endpoints.py
  src/grant_ai/api/integration.py
  src/grant_ai/community/forum.py
  src/grant_ai/config/__init__.py
  src/grant_ai/config/settings.py
  src/grant_ai/i18n/translation.py
  src/grant_ai/mobile/accessibility.py
  src/grant_ai/mobile/wireframes.py
  src/grant_ai/notifications/email.py
  src/grant_ai/notifications/in_app.py
  src/grant_ai/security/gdpr.py
Owners: @project-maintainer, @docs-team, @core-team

feat: Add advanced discovery features and modules
  README.md
  docs/ADVANCED_DISCOVERY_FEATURES.md
  project_plan.md
  src/grant_ai/accessibility/accessibility.py
  src/grant_ai/analytics/advanced_analytics.py
  src/grant_ai/analytics/analytics.py
  src/grant_ai/community/community.py
  src/grant_ai/config.py
  src/grant_ai/config/advanced_discovery_sources.yaml
  src/grant_ai/i18n/i18n.py
  src/grant_ai/main.py
  src/grant_ai/mobile/mobile.py
  src/grant_ai/models/grant.py
  src/grant_ai/scrapers/doe_grants.py
  src/grant_ai/scrapers/nsf_grants.py
  src/grant_ai/scrapers/simple_advanced_discovery.py
  src/grant_ai/scrapers/wv_grants.py
  src/grant_ai/security/security.py
  src/grant_ai/services/ai_proposal_classifier.py
  src/grant_ai/services/community_signal_integration.py
  src/grant_ai/utils/helpers.py
  src/grant_ai/utils/logger.py
  src/scripts/__init__.py
Owners: @docs-team, @project-maintainer, @core-team, @data-team

Refactor RobustWebScraper for improved error handling and rate limiting
  .vscode/tasks.json
  coda_profile.json
  config/config.yaml
  nrg_profile.json
  setup.sh
  src/grant_ai/core/exceptions.py
  src/grant_ai/gui/enhanced_threading.py
  src/grant_ai/services/rate_limiter.py
  src/grant_ai/services/robust_scraper.py
Owners: @project-maintainer, @core-team, @ui-team

feat: Add CLI commands for advanced grant analytics features
  ADVANCED_ANALYTICS_COMPLETE.md
  AI_FEATURES_COMPLETE.md
  check_deps.py
  demo_ai_features.py
  pyproject.toml
  quick_test_ai.py
  src/grant_ai/ai/deadline_predictor.py
  src/grant_ai/ai/grant_relevance_scorer.py
  src/grant_ai/ai/grant_success_predictor.py
  src/grant_ai/analytics/competitive_analysis.py
  src/grant_ai/analytics/grant_analytics_dashboard.py
  src/grant_ai/cli/ai_commands.py
  src/grant_ai/cli/analytics_commands.py
  src/grant_ai/core/cli.py
  src/grant_ai/services/grant_monitoring.py
Owners: @docs-team, @project-maintainer, @core-team

feat: Complete implementation of Material Design GUI for Grant-AI
  IMPLEMENTATION_STATUS.md
  MATERIAL_DESIGN_GUI_COMPLETE.md
  src/grant_ai/cli/gui_commands.py
  src/grant_ai/core/cli.py
  src/grant_ai/gui/material_theme.py
  src/grant_ai/gui/modern_ui.py
Owners: @docs-team, @project-maintainer, @core-team, @ui-team

Add AI Writing Assistant GUI and Enhanced AI Grant Writing Services
  AI_WRITING_IMPLEMENTATION_COMPLETE.md
  docs/AI_GRANT_WRITING_COMPLETE.md
  src/grant_ai/cli/ai_writing_commands.py
  src/grant_ai/core/cli.py
  src/grant_ai/gui/ai_writing_widget.py
  src/grant_ai/gui/modern_ui.py
  src/grant_ai/services/ai_grant_writing.py
Owners: @docs-team, @project-maintainer, @core-team, @ui-team

feat: Enhance analytics dashboard with new metrics and visualizations; add WebSocket support for real-time notifications
  pyproject.toml
  src/grant_ai/ai/enhanced_matching.py
  src/grant_ai/analytics/dashboard.py
  src/grant_ai/gui/analytics_widget.py
  src/grant_ai/services/grant_monitoring.py
Owners: @core-team, @project-maintainer, @ui-team

feat: Add project status documentation and project plan
  coda_profile.json
  config/pyproject_modern.toml
  config/requirements/requirements-ai.txt
  config/requirements/requirements-reporting.txt
  data/profiles/coda_profile.json
  data/profiles/nrg_profile.json
  docs/project-status/ADVANCED_ANALYTICS_COMPLETE.md
  docs/project-status/AI_FEATURES_COMPLETE.md
  docs/project-status/AI_WRITING_IMPLEMENTATION_COMPLETE.md
  docs/project-status/FAKE_GRANT_ELIMINATION_SUMMARY.md
  docs/project-status/GUI_TESTING_COMPLETE.md
  docs/project-status/GUI_TEST_REPORT.md
  docs/project-status/IMPLEMENTATION_STATUS.md
  docs/project-status/MATERIAL_DESIGN_GUI_COMPLETE.md
  docs/project-status/PROJECT_CLEANUP_STATUS.md
  docs/project-status/PROJECT_MODERNIZATION_STATUS.md
  docs/project-status/SCRAPER_ENHANCEMENT_SUMMARY.md
  docs/project-status/project_plan.md
  nrg_profile.json
  pyproject_modern.toml
  quick_test_scraper.py
  quick_url_test.py
  scripts/setup/check_deps.py
  scripts/setup/foundation_implementation_summary.py
  scripts/setup/setup.sh
  scripts/setup/setup_foundation_database.py
  tests/integration/quick_test_ai.py
  tests/integration/quick_test_scraper.py
  tests/integration/quick_url_test.py
  tests/integration/run_gui_tests.py
  tests/integration/validate_scraper.py
  validate_scraper.py
Owners: @project-maintainer, @core-team, @data-team, @docs-team, @devops-team, @qa-team

feat: Add task to move remaining root tests to integration directory
  .github/workflows/ci.yml
  .vscode/tasks.json
  ADVANCED_ANALYTICS_COMPLETE.md
  AI_FEATURES_COMPLETE.md
  AI_WRITING_IMPLEMENTATION_COMPLETE.md
  GUI_TESTING_COMPLETE.md
  GUI_TEST_REPORT.md
  IMPLEMENTATION_STATUS.md
  MATERIAL_DESIGN_GUI_COMPLETE.md
  Makefile
  PROJECT_CLEANUP_STATUS.md
  README.md
  check_deps.py
  project_plan.md
  run.sh
  setup.sh
  src/grant_ai/analytics/dashboard.py
  src/grant_ai/models/grants_core.py
  src/grant_ai/scrapers/base.py
  tests/integration/quick_test_ai.py
  tests/integration/run_gui_tests.py
Owners: @project-maintainer, @docs-team, @devops-team, @core-team, @data-team, @qa-team

feat: Add GUI check tasks and enhance run.sh for Docker and local execution
  .vscode/tasks.json
  Dockerfile
  README.md
  run.sh
Owners: @project-maintainer, @docs-team, @devops-team

feat: Add new CLI commands and enhance task automation; remove obsolete documentation files
  .vscode/tasks.json
  ADVANCED_ANALYTICS_COMPLETE.md
  AI_FEATURES_COMPLETE.md
  AI_WRITING_IMPLEMENTATION_COMPLETE.md
  GUI_TESTING_COMPLETE.md
  GUI_TEST_REPORT.md
  IMPLEMENTATION_STATUS.md
  MATERIAL_DESIGN_GUI_COMPLETE.md
  PROJECT_CLEANUP_STATUS.md
  docs/ADVANCED_ANALYTICS_COMPLETE.md
  docs/AI_FEATURES_COMPLETE.md
  docs/AI_WRITING_IMPLEMENTATION_COMPLETE.md
  docs/GUI_TESTING_COMPLETE.md
  docs/GUI_TEST_REPORT.md
  docs/IMPLEMENTATION_STATUS.md
  docs/MATERIAL_DESIGN_GUI_COMPLETE.md
  docs/PROJECT_CLEANUP_STATUS.md
  src/grant_ai/__init__.py
  src/grant_ai/cli/__init__.py
  src/grant_ai/core/cli.py
  src/grant_ai/gui/modern_ui.py
  src/grant_ai/scrapers/wv_grants.py
  src/grant_ai/services/ai_grant_writing.py
Owners: @project-maintainer, @docs-team, @core-team, @ui-team, @data-team

feat: Add optional GUI dependencies and enhance lazy loading in CLI commands
  pyproject.toml
  src/grant_ai/cli/__init__.py
  src/grant_ai/cli/gui_commands.py
Owners: @core-team, @project-maintainer

Refactor project structure and enhance functionality
  .vscode/tasks.json
  Dockerfile
  GUI_TESTING_COMPLETE.md
  GUI_TEST_REPORT.md
  PROJECT_CLEANUP_STATUS.md
  README.md
  pyproject.toml
  run.sh
  scripts/build_exe.sh
  scripts/install_gui.sh
  src/grant_ai/__init__.py
  src/grant_ai/cli/gui_commands.py
  src/grant_ai/scrapers/wv_grants.py
  src/src/__init__.py
  src/src/grant_ai/__init__.py
Owners: @project-maintainer, @docs-team, @core-team, @devops-team, @data-team

feat: Add offline WV grants smoke-runner script
  importlog.txt
  run.sh
  scripts/wv_offline.py
  src/grant_ai/__init__.py
  src/grant_ai/core/cli.py
  src/grant_ai/utils/headless.py
  src/grant_ai/utils/rss.py
Owners: @project-maintainer, @devops-team, @core-team

feat: Enhance WV grant scraper with headless fetching for blocked sites and update last update timestamps
  Dockerfile
  data/last_update.json
  src/grant_ai/scrapers/wv_grants.py
Owners: @project-maintainer, @data-team

.github/CODEOWNERS:

# Global owners
* @project-maintainer

# Core application code
/src/grant_ai/core/ @core-team
/src/grant_ai/models/ @core-team
/src/grant_ai/config/ @core-team

# Data processing and analysis
/src/grant_ai/analysis/ @data-team
/src/grant_ai/scrapers/ @data-team

# User interface
/src/grant_ai/gui/ @ui-team
/src/grant_ai/cli.py @core-team

# Utilities and services
/src/grant_ai/utils/ @core-team
/src/grant_ai/services/ @core-team

# Tests
/tests/ @qa-team
/test_*.py @qa-team

# Documentation
/docs/ @docs-team
README.md @docs-team
*.md @docs-team

# Configuration files
pyproject.toml @core-team
requirements*.txt @core-team
.github/ @project-maintainer

# Scripts and tools
/scripts/ @devops-team
run.sh @devops-team
launch_gui.py @core-team

# Data files
/data/ @data-team

# Reports
/reports/ @data-team

# Security and compliance
SECURITY.md @security-team
.github/SECURITY.md @security-team
